<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{home.title}"></title>
    <meta th:replace="include/meta :: meta"/>
</head>

<body>
<div class="index" id="wrapper">
    <div th:replace="include/nav :: nav"></div>
    <div th:replace="include/sysMenu :: menu(activeIndex=3)"></div>

    <div id="page-wrapper">
        <!--<div th:replace="include/bread :: system(type='综合管理', breadText='角色管理', url='/ui/system/role')"></div>-->

        <div class="page-inner">
            <div class="row">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title clearfix">
                                    <div class="title pull-left">角色管理</div>
                                    <div class="pull-right">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                           class="collapsed"><i class="fa fa-search"></i> 检索</a>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body" style="padding: 15px 0 0 0;">
                                    <div class="filter col-md-12">
                                        <form class="form-inline" id="formData">
                                            <div class="form-group">
                                                <label>角色名称</label>
                                                <input type="text" class="form-control w150" name="name"/>
                                            </div>
                                            <div class="form-group">
                                                <label>角色描述</label>
                                                <input type="text" class="form-control w400" name="memo"/>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-success" id="searchBtn"><i
                                                        class="fa fa-search"></i> 查询
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="margin-b-sm">
                                    <button type="button" class="btn btn-success" id="addRole"><i class="fa fa-plus"></i> 新增</button>
                                    <button type="button" class="btn btn-success" id="editRole"><i class="fa fa-edit"></i> 修改</button>
                                </div>
                                <div class="table-responsive" style="overflow-x: hidden;">
                                    <table class="table table-striped table-bordered table-hover" id="dataTable">
                                        <thead>
                                        <tr>
                                            <th class="col-md-3">角色号</th>
                                            <th class="col-md-3">角色名称</th>
                                            <th class="col-md-6">角色描述</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--用户新增、修改-->
<div class="modal fade in" id="editInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="false" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="filledData">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label class="col-md-3"></label>
                        <div class="col-md-7 warn-info"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 角色号</label>
                        <div class="col-md-7 clearfix">
                            <input type="text" maxlength="20" class="form-control" name="roleNo"/>
                            <div class="pull-right">(全英文，2-20位)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 角色名称</label>
                        <div class="col-md-7 clearfix">
                            <input type="text" maxlength="20" class="form-control" name="name"/>
                            <div class="pull-right">(汉字，2-20位)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 菜单权限</label>
                        <div class="col-md-7">
                            <table class="table table-striped table-bordered table-hover" id="menu">
                                <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>一级菜单</th>
                                </tr>
                                </thead>
                                <body>
                                <tr>
                                    <td>
                                        <input type="checkbox" data-id="menu_homepage"/>
                                    </td>
                                    <td>首页</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" data-id="menu_cus_manage"/>
                                    </td>
                                    <td>客户管理</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" data-id="menu_loan_manage"/>
                                    </td>
                                    <td>放贷管理</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" data-id="menu_postloan"/>
                                    </td>
                                    <td>贷后管理</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" data-id="menu_system"/>
                                    </td>
                                    <td>系统管理</td>
                                </tr>
                                </body>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"><span class="red-star">*</span> 角色备注</label>
                        <div class="col-md-7 clearfix">
                            <textarea maxlength="150" class="form-control" name="memo" rows="4" style="resize: none;"></textarea>
                            <div class="pull-right">(150个字符以内)</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i> 取消</button>
                <button type="button" class="btn btn-success" id="saveData"><i class="fa fa-check"></i> 保存</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="include/meta :: javascript"/>
<script src="/js/role.js"></script>
</body>
</html>