<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>

<body>

<!--首页-->
<div th:fragment="index" class="head-bread">
    <ol class="breadcrumb">
        <li><a th:href="@{/}">首页</a></li>
        <li><a th:href="@{/}" th:text="${breadText}"></a></li>
    </ol>
</div>

<div th:fragment="repay" class="head-bread">
    <ol class="breadcrumb">
        <li><a th:href="@{/}">首页</a></li>
        <li><a href="#">交易监控</a></li>
        <li><a th:href="@{/ui/repay}" th:text="${breadText}"></a></li>
    </ol>
</div>

<!--客户管理-->
<div th:fragment="customer" class="head-bread">
    <ol class="breadcrumb">
        <li><a th:href="@{/ui/customer/company}">客户管理</a></li>
        <li><a th:href="${url}" th:text="${breadText}"></a></li>
    </ol>
</div>

<div th:fragment="cusDetail" class="head-bread">
    <ol class="breadcrumb">
        <li><a th:href="@{/ui/customer/company}">客户管理</a></li>
        <li><a th:href="${url}" th:text="${breadText}"></a></li>
        <li><a href="#">详情</a></li>
    </ol>
</div>

<!--放贷管理-->
<div th:fragment="loan" class="head-bread">
    <ol class="breadcrumb">
        <li><a th:href="@{/ui/loan/apply}">放贷管理</a></li>
        <li><a th:href="${url}" th:text="${breadText}"></a></li>
    </ol>
</div>

<!--贷后管理-->
<div th:fragment="post-loan" class="head-bread">
    <ol class="breadcrumb">
        <li><a th:href="@{/ui/postloan/credit/active}">贷后管理</a></li>
        <li><a href="#" th:text="${type}"></a></li>
        <li><a th:href="${url}" th:text="${breadText}"></a></li>
    </ol>
</div>

<div th:fragment="plDetail" class="head-bread">
    <ol class="breadcrumb">
        <li><a th:href="@{/ui/postloan/credit/active}">贷后管理</a></li>
        <li><a href="#" th:text="${type}"></a></li>
        <li><a th:href="${url}" th:text="${breadText}"></a></li>
        <li><a href="#">详情</a></li>
    </ol>
</div>

<!--系统管理-->
<div th:fragment="system" class="head-bread">
    <ol class="breadcrumb">
        <li><a th:href="@{/ui/system/product}">系统管理</a></li>
        <li><a href="#" th:text="${type}"></a></li>
        <li><a th:href="${url}" th:text="${breadText}"></a></li>
    </ol>
</div>

</body>
</html>