<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="meta">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
        <link href="/assets/css/font-awesome.css" rel="stylesheet"/>
        <link href="/assets/css/custom-styles.css" rel="stylesheet"/>
        <link href="/assets/css/iosOverlay.css" rel="stylesheet"/>
        <link href="/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
        <link href="/assets/css/jquery.datetimepicker.css" rel="stylesheet"/>
        <link href="/css/base.css" rel="stylesheet"/>
        <link href="/css/head.css" rel="stylesheet"/>
        <link href="/css/main.css" rel="stylesheet"/>
    </th:block>
</head>

<body>
  <th:block th:fragment="javascript">
      <script src="/assets/js/jquery-1.11.1.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/bootbox.min.js"></script>
      <script src="/assets/js/jquery.metisMenu.js"></script>
      <script src="/assets/js/dataTables/jquery.dataTables.js"></script>
      <script src="/assets/js/dataTables/dataTables.bootstrap.js"></script>
      <script src="/assets/js/jquery.datetimepicker.full.min.js"></script>
      <script src="/assets/js/eCharts/echarts.common.min.js"></script>
      <script src="/assets/js/eCharts/macarons.js"></script>
      <script src="/assets/js/jquery.spin.merge.js"></script>
      <script src="/js/dataTable.js"></script>
      <script src="/js/custom-scripts.js"></script>
      <script src="/js/comFunction.js"></script>

      <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </th:block>
</body>
</html>