<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
</head>

<body>
<div th:fragment="nav">
<nav class="navbar navbar-default top-navbar clearfix" role="navigation">
    <div class="navbar-header clearfix">
        <div class="pull-left">
            <a class="navbar-brand" href="#">
                <span class="brand">管理后台</span>
            </a>
        </div>
        <!--<ul class="top-nav clearfix" >-->
            <!--<li th:each="na,state:${navs}"><a th:href="@{${na.url}}" th:class="${activeIndex} == ${state.index+1} ? 'black-bg':''"><span th:text="${na.name}">首页</span></a></li>-->


            <!--&lt;!&ndash;<li><a th:href="@{/}" th:class="${activeIndex} == 1 ? 'black-bg':''"><span>首页</span></a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a th:href="@{/ui/customer/company}" th:class="${activeIndex} == 2 ? 'black-bg':''"><span>客户管理</span></a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a th:href="@{/ui/loan/apply}" th:class="${activeIndex} == 3 ? 'black-bg':''"><span>放贷管理</span></a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a th:href="@{/ui/postloan/credit/active}" th:class="${activeIndex} == 4 ? 'black-bg':''"><span>贷后管理</span></a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a th:href="@{/ui/system/product}" th:class="${activeIndex} == 5 ? 'black-bg':''"><span>系统管理</span></a></li>&ndash;&gt;-->
        <!--</ul>-->
    </div>
    <div class="user-info">
        <ul class="nav navbar-top-links navbar-right" style="margin-top:40px;">
            <li class="dropdown">
                <a>
                    <i class="fa fa-home"></i>
                    <span style="color: #000; margin-right: 3px;" th:text="${session.ticket.name}">admin</span>
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i>
                    <span style="color: #000; margin-right: 3px;" th:text="${session.ticket.loginName}">admin</span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#" id="editPwd"><i class="fa fa-edit fa-fw"></i> 修改密码</a><span class="arrowUp top"></span></li>
                    <li><a href="/admin/login/out" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade in" id="editPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="false" style="display: none; padding-right: 17px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <div class="modal-body">
                    <form class="detailTab form-inline" style="padding-left: 70px;">
                        <div class="form-group">
                            <label>旧密码</label>
                            <input type="password" class="form-control w150" id="oldPwd"/>
                            <span class="warn-info warn1"></span>
                        </div><br/>
                        <div class="form-group">
                            <label>新密码</label>
                            <input type="password" class="form-control w150" id="newPwd"/>
                            <span class="warn-info warn2"></span>
                        </div><br/>
                        <div class="form-group">
                            <label>确认新密码</label>
                            <input type="password" class="form-control w150" id="confirmPwd"/>
                            <span class="warn-info warn3"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i> 取消</button>
                    <a href="#" class="btn btn-success" id="savePwd"><i class="fa fa-check"></i> 确定</a>
                </div>
            </div>
        </div>
    </div>

<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script src="/assets/js/iosOverlay.js"></script>
<script src="/js/nav.js"></script>
</div>
</body>
</html>