/*------common------*/
.w100{
  width: 100px !important;
}

.w120{
  width: 120px !important;
}

.w150{
  width: 150px !important;
}

.w200{
  width: 200px !important;
}

.w250{
  width: 250px !important;
}

.w400{
  width: 400px !important;
}

.w664{
  width: 664px !important;
}

.font-14{
  font-size: 14px;
}

.font-blue{
  color: #23b7e5 !important;
}

.green h3, .green .current-user,
.yellow h3, .yellow .current-user{
  color: #fff !important;
}

.margin-r-sm{
  margin-right: 10px;
}

.margin-b-sm{
  margin-bottom: 10px;
}

.margin-t-md{
  margin-top: 20px;
}

.no-p-right{
  padding-right: 0;
}

.red-star{
  color: red;
  font-size: 14px;
  vertical-align: middle;
}

.black-bg{
  background: black!important;
}

.form-inline .form-group label{
  font-size: 14px;
}

.form-inline .form-group{
  margin-right: 10px;
  margin-bottom: 20px;
}

.panel-default .panel-heading{
  border-bottom: 1px solid #eee;
}

div.dataTables_scrollBody table{
  margin-bottom: 6px !important;
}

.input-group-addon{
  display: block;
  background-color: transparent;
  border: none;
  position: relative;
}

.input-group-addon i{
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 100;
}

.nav-tabs > li > a{
  font-size: 14px;
  color: #999;
}

.nav-tabs > li.active > a{
  font-weight: bold;
}

.detailTab label{
  width: 140px;
  text-align: right;
  padding-right: 10px;
}

#collapseOne .filter{
  padding-top: 20px;
}

.navbar-right{
  margin-right: 0;
}

.top-navbar .nav > li > a{
  padding: 10px;
}

.nav-second-level li a{
  padding-left: 20px;
}

.nav-third-level li a{
  padding-left: 53px !important;
}

.filemanager .thmb {
  border: 1px solid #eee;
  background: #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
  -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
  box-shadow: 0 3px 0 rgba(12,12,12,0.03);
  margin-right: 20px;
}

.filemanager .thmb::after {
  clear: both;
  display: block;
  content: '';
}

.filemanager .thmb-prev {
  background: #eee;
  overflow: hidden;
}

.filemanager .thmb-prev a {
  display: block;
}

.filemanager .thmb-prev img{
  margin: auto;
  width: 200px;
  height: 200px;
}

.filemanager .fm-title {
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.modal-header{
  padding: 15px 15px 10px 15px;
}

.ui-ios-overlay .title{
  font-size: 21px;
}

.table tbody tr.active td,
.table tbody tr.active:hover td{
  background-color: #f2dede !important;
  color: #000;
}

.table tbody tr.active a {
  color: #337ab7;
}

.bootbox-body{
  font-size: 14px;
}

.panel-title > a{
  color: #337ab7;
}

.head-style tr th{
  vertical-align: middle !important;
}

table tr td{
  word-break: break-all;
  vertical-align: middle !important;
}

.head-bread{
  padding: 15px 15px 0 15px;
}

.breadcrumb{
  margin-bottom: 0;
}

.display-none{
  display: none !important;
}

.table-condensed>tbody>tr>td{
  padding: 5px 1px;
}

input[type=checkbox],input[type=radio]{
  width: 16px;
  height: 16px;
  margin: 3px 0 0;
}

.modal-header .close{
  outline: none;
}

.table-responsive .table-title{
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
}

.no-padding{
  padding: 0;
}

button.close{
  outline: none;
}

/*------index------*/
.index .top-navbar .dropdown-toggle:hover{
  background: #edf2f3;
}

.index .nav .open > a{
  background-color: #edf2f3!important;
}

.index .current-user{
  font-size: 14px;
  color: #999;
}

.index .board .number{
  position: relative;
  float: none;
  text-align: center;
}

.index .donut-chart .panel{
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 18px;
  text-align: center;
}

.index .board .panel{
  padding: 34px 15px;
}

.index .panel-primary{
  margin-bottom: 20px;
}

.index .number h3 {
  color: #676767;
  margin-bottom: 7px;
}

.index .report .panel-heading{
  padding: 4px 15px;
}

.index .repay-num{
  color: #fff;
  background: rgb(243, 106, 90);
  position: absolute;
  top: 14px;
  right: 10px;
  border-radius: 4px;
  padding: 1px 4px;
  font-size: 12px;
}

/*----repay------*/
.repayCollapse{
  border: 1px solid #ddd;
  margin-bottom: 0;
}

.repayCollapse > tbody > tr:nth-of-type(odd){
  background-color: #dff0d8;
}

.repayCollapse > tbody > tr:nth-of-type(even){
  background-color: #fcf8e3;
}

/*----loan------*/
#cusDetail .go-back{
  position: absolute;
  top: 30px;
  right: 36px;
  font-size: 14px;
}