<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learning.persistence.FriendDomainMapper" >
  <resultMap id="BaseResultMap" type="com.learning.domain.FriendDomain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="login_name_a" property="loginNameA" jdbcType="VARCHAR" />
    <result column="login_name_b" property="loginNameB" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, login_name_a, login_name_b, created_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from friend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByLoginName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from friend
    where login_name_a = #{loginName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from friend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.learning.domain.FriendDomain" >
    insert into friend (id, uuid, login_name_a, 
      login_name_b, created_at)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{loginNameA,jdbcType=VARCHAR}, 
      #{loginNameB,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.learning.domain.FriendDomain" >
    insert into friend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="loginNameA != null" >
        login_name_a,
      </if>
      <if test="loginNameB != null" >
        login_name_b,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="loginNameA != null" >
        #{loginNameA,jdbcType=VARCHAR},
      </if>
      <if test="loginNameB != null" >
        #{loginNameB,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.learning.domain.FriendDomain" >
    update friend
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="loginNameA != null" >
        login_name_a = #{loginNameA,jdbcType=VARCHAR},
      </if>
      <if test="loginNameB != null" >
        login_name_b = #{loginNameB,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.learning.domain.FriendDomain" >
    update friend
    set uuid = #{uuid,jdbcType=VARCHAR},
      login_name_a = #{loginNameA,jdbcType=VARCHAR},
      login_name_b = #{loginNameB,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>